aside{
    width: 12.5rem;
    /* togliere la larghezza, deve cambiare con il nascondersi degli elmenti(vedi bootstrap) */
    background-color: #061e34;
    flex-shrink: 0;
    color: white;
    padding-left: 1.875rem;
}