aside{
    width: auto;
    /* togliere la larghezza, deve cambiare con il nascondersi degli elmenti(vedi bootstrap) */
    background-color: #061e34;
    flex-shrink: 0;
    color: white;
    padding-left: 1.875rem;
    background-image: url(../img/sidebar-bg.png);
}

.ms-fa-chart{
    width: 1.125rem;
}

aside i{
    margin-right: .4375rem;
}
.ms-row-column{
    height: 100%;
}

aside .ms-row-column div:hover i{
    color: gray;
}

aside .ms-row-column div:hover span, aside .ms-row-column div:hover i{
    color: gray;
    cursor: pointer;
}