header{
    height: 4.375rem;
    background-color: #f8f9fa;
}

.ms-container-custom{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.ms-row-100-w{
    width: 100%;
}

.page-container{
    height: calc(100vh - 4.375rem);
    display: flex;
}

.logo{
    height: 100%;
    width: 10.625rem;
}

.logo img{
    height: 100%;
}

.logo img:nth-of-type(2){
    width: 100%
}

.icons{
    width: 6.25rem;
}

.ms-btn{
    border: none;
    background-color: transparent;
    color: #ff8f00;
}

@media screen and (max-width: 992px) {
    .icons{
        width: 2.5rem;
        display: flex;
        align-items: center;
    }
    .logo{
        width: 4.375rem;
    }
}


header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header li{
    margin: 0 .3125rem;
}

header li a{
    color: #5a5858;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1); 
}

.search input{
    height: 2.5rem;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search{
    position: absolute;
    top: .75rem;
    left: .75rem;
}