main{
    background-color: #f8f9fa;
    flex-grow: 1;
    overflow-y: auto;
}

.ms-row-column{
    flex-direction: column;
}

.ms-main-head{
    background-color: #1c71e8;
    color: white;
}

.ms-bg-primary{
    background-color: #185bb9;
}

.card:last-of-type img{
    width: 100%;
}

.main-body{
    font-size: .875rem;
}

td img{
    width: 1.25rem;
    height: 1.25rem;
}

td i{
    border: 1px solid gray;
    padding: .25rem;
    margin: .125rem;
    border-radius: .4375rem;
}

tr td div:last-child{
    justify-content: center;
}

tr td:first-child{
    height: 2.8125rem;
}